{% extends "base.html" %}

{% block title %}{{ demo.title }}{% endblock %}

{% block head %}
    <style type="text/css">
        * {
            margin: 0;
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        div {
            position: absolute;
        }

        #root {
            width: 100%;
            height: 100%;
            background: black;
        }

        #stage {
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
        }

        #fps {
            left: 10px;
            top: 10px;
            font-size: 32px;
            color: white;
        }

        #test_details {
            left: 200px;
            top: 10px;
            font-size: 32px;
            color: white;
        }
    </style>

{% for script in demo.js %}
    <script src="{{ url_for('static', filename='js/' + script) }}"></script>
{% endfor %}

{% for css in demo.css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + css) }}"/>
{% endfor %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fonts.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tests/' + test_name + '.css') }}"/>

{% endblock %}

{% block body %}
  <div id="root">
    <div id="fps"></div>
    <div id="test_details">{{ demo.title }} </div>
    <div id="stage"></div>
  </div>
  <script src="{{ url_for('static', filename='tests/' + test_name + '.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
